.paragraph{
    font-style: italic;
    text-align: left;
    -moz-text-decoration-color:darkgrey;
    text-decoration-color:darkgrey;
}
.skills{
    text-align: auto;
    -moz-text-decoration-color:darkgrey;
    text-decoration-color:darkgrey;
}
footer{
    text-align: center;
    -moz-text-decoration-color:darkgrey;
    text-decoration-color:darkgrey;

}

h1{
    text-align: center;
    -moz-text-decoration-color:darkgrey;
    text-decoration-color:darkgrey;
}
h2{
    text-align: center;
    -moz-text-decoration-color:darkgrey;
    text-decoration-color:darkgrey;
}
body{
    background-color:rgb(65, 42, 42);
    background-image:image("R(1).jpg)") ;
    img{
    height: auto;
    size: auto;
}
}