body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
    background-color: olive;
}

.container {
	max-width: 600px;
	margin: 2rem auto;
	padding: 2rem;
	background-color: olivedrab;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
	margin-top: 0;
	text-align: center;
}

#expense-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.expense-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
	padding: 0.5rem;
	border-bottom: 1px solid #ddd;
}

.expense-from {
	flex: 1;
}

.amount {
	flex: 1;
	text-align: right;
}

.date {
	flex: 1;
	text-align: center;
}

.category {
	flex: 1;
	text-align: left;
}
@media (max-width: 768px) {
	.container {
	  width: 90%;
	}
	h1 {
	  font-size: 20px;
	}
	.balance,
	.category {
	  flex-direction: column; /* Stack items vertically */
	}
	.expenses {
	  font-size: 14px;
	}
  }